<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-light border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <app-header></app-header>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">About us</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Carreers</a>
  </nav>
  <a class="btn btn-outline-primary bg-info text-white" (click)="open(mymodal)" type="submit">Add a product</a>


  <ng-template #mymodal let-modal>

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Adding a new Product? </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">X</span>
      </button>
    </div>


    <div *ngIf="!submitted">
      <div class="form-group">



        <div class="modal-body">


          <div class="field">
            <input type="text" class="form-control" placeholder="Product Name" name="productName" required
              [(ngModel)]="product.productName" />

            <br>
            <input type="number" class="form-control" placeholder="Price per Unit" name="productPrice" required
              [(ngModel)]="product.productPrice">

            <br>
            <input type="number" class="form-control" placeholder="Quantity" name="productQuantity" required
              [(ngModel)]="product.productQuantity">
            <br>
            <textarea class="form-control" aria-label="With textarea" placeholder="Product Description"
              name="productDescription" required [(ngModel)]="product.productDescription"></textarea>
            <br>
            <input type="number" class="form-control" placeholder="Rating" max=5 name="productRating" required
              [(ngModel)]="product.productRating">

          </div>

        </div>
        <div class="modal-footer">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-danger "
              (click)="modal.close('Save click')">Cancel</button>
            <button (click)="addProduct()" class="postbutton" class="btn btn-sm btn-primary cartdetail">Add new
              Item</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


</div>
